body ,html{
	width:100%;
	height:100%;
	background: #242424;
}
#jumbo {
	margin-bottom: 0;
	transition: 0.5s;
}
.medium {
	font-weight: 200;
	transition: 0.5s;
}
.big {
	font-weight: 400;
	transition: 0.5s;
}
@media (min-width: 992px){
.medium {
	font-size: 3vw;
	transition: 0.5s;
	font-weight: 200;
}
.big {
	font-size: 4vw;
	transition: 0.5s;
	font-weight: 400;
}
}
.pallete {
	background: red;
	width: 20vw;
	height: 20vw;
	max-width: 300px;
	max-height: 300px;
	border-radius: 10px;
	margin-bottom: 10px;
	transition: 0.5s;


}
.color {
	margin-top: 20px;
}
.buttn{
	background: white;
}
#button-panel{
	background: white;
}
.buttn button{
	border: 0;
	background: white;
	transition: 0.5s;
	font-size: 1.25rem;
	border-color: transparent;

}
.buttn button:hover{
	background: inherit;
	color: white;
}
.buttn button:focus{
	border-color: transparent;
}
.correct{
	display: none;
	transition: 0.2s;
}
#easy:active,#hard:active{
	background: red;
}