html,body{
	width: 100%;
	height: 100%;
}
body{
	background: #BC986A;
}

* {
	font-family: 'PT Serif', serif;
}
nav {
	background-color: #DAAD86;
}
.img-logo {
	height: 60px;
	width: 70px;
	max-width: 200px;
	max-height: 200px;
}
.navbar-nav li a{
	transition: 0.5s;
}
.navbar-nav li a:hover{
	text-decoration-color: red;
	color: red;
}
@media (max-width: 768px){
	.nav-right{
		margin-left: 0;
		
	}
	.navbar-nav span li:nth-last-of-type(2){
		padding-bottom: 8px;
		border-bottom: 1px solid #DAAD86;
	}
	.main{
		max-height: 500px;
	}
}
@media (min-width: 768px){
	.nav-right.last{
		margin-left: 30px;
		padding-left: 5px;
		border-left: #DAAD86 solid 2px;
	}
	.nav-right {
		margin-left: 20px;
	}
	.wrap-up {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: flex-end;

	}
	.row div h1{
		font-size: 3.75vw;
	}
	.row div h3{
		font-size: 2vw;
	}

}
.main {
	margin-top: 50px;
	background: url("homeWallpaper.jpg");
	background-size: cover;
	background-position-x: center;
	width: 100%;
	height: 100%;
	padding-top: 17%;
	text-align: center;
}
.main.container{
	opacity: 0;

}
.row div h1,.row div h3{
	color:#DAAD86;
	
}
.row div h1{
	margin: 0 auto 0 auto;
	border-bottom: 2px #BC986A solid;
	border-radius: 1px
}
#playButton {
	background: #FBEEC1;
	border-color: #FBEEC1;
	opacity: 0;
}
#playButton:hover{
	background: #8D8741;
	border-color: #8D8741;
	color: white;
}
.load{
	display: none;
}
section {
	height: 100%;
	width: 100%;
}
.still-load{
	width: 100%;
	height: 100%;
}
.outer{
	width: 250px;
	height: 250px;
	border-radius: 50px;
	border: 20px #8D8741 groove;
}
.inner{
	width: 150px;
	height: 150px;
	border-radius: 25px;
	border: 20px #FBEEC1 groove;
}
.point{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background: #DAAD86;
}